@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
body {
   font-family: 'Roboto Mono', monospace;
}
h1 {
   text-align: center;
   padding-top:20px;
   font-size: 1.25em;
}
h2 {
   font-size: 1em;
}
header, footer {
   background-color:#03175B;
   color:#FBFBFB;
   min-height:75px;
   text-align:center;
   padding:20px;
}

footer {
   font-size:.8em;
}
main {
   background-color: #FBFBFB;
   border: solid thick #03175B;
}
#content {
   max-width:800px;
   margin: 100px auto 0 auto;
}
#profile_picture {
   width:200px;
   margin:15px;
}
#portal {
   margin-left:30px;
}
#portal_hr {
   margin-left:30px;
   width:80%;
}
#updated {
   color: yellow;
}
#byui_link {
   color:white;
}