@media only screen and (min-width: 500px) { 

   main {
      grid-template-columns: 1fr 1fr;
   }
   nav ul {
      display: flex;
      margin-top:20px;
   }
   nav li {
      flex: 1 1 100%;
      border: none;
      margin: 0px;
   }
   #call_to_action {
      max-width:500px;
      font-size: 1em;
   }

   #logo {
      width:400px;
   }
   #menu_button {
      display: none;
   }
   /* Home Page */
   #div_call_to_action {
      grid-column: 1/3;
   }
   #div_image_rotate {
      grid-row: 1;
      grid-column: 1;
   }
   #home_welcome {
      grid-row: 1;
      grid-column: 2;
      font-size: 1em;
      margin-bottom: 4px;
   }
   #we_rent {
      grid-column: 1/3;
   }
   .nav_hidden {
      display: flex;
   }
   /* Reservations */

   #chart {
      font-size: 1em;
      grid-column: 1/3;
    }
    #agreement {
       grid-column: 1/3;
    }


   /* Footer */
   footer {
      display:grid;
      grid-template-columns: 30% 40% 30%;
   }
   footer h2 {
      grid-column: 1/4;
      text-align: center;
      margin-top:0;
   }
   #footer_name {
      grid-column: 1;
   }
   #footer_phone {
      grid-column: 2;
   }
   #social {
      grid-column: 3;
      margin-top:0;
   }
}