
article {
   display: grid;
   grid-template-columns: 3fr 2fr;
   margin-top: 15px;
   padding: 15px;
}
body {
   font-family: 'M PLUS Rounded 1c', sans-serif;
   font-size: 14px;
}
h1,h2,h3, #title, #motto {
   font-family: 'Bree Serif', serif;
}
h1, #title {
   font-size: 1.5em;
}

h2, #motto {
   font-size: 1.1em;
}
h3 {
   text-align: center;
}
header {
   display: grid;
   grid-template-columns: 100px 1fr;
   grid-template-rows: 50px 30px 30px auto;   
}
footer {
   background-color:#1469e2;
   color:#FBFBFB;
   text-align:center;
   padding:20px;  
   max-width: 900px;
   margin: auto;
}
main {
   max-width: 900px;
   margin: auto;
}

nav {
   grid-row: 4;
   grid-column: 1/3;
   margin-bottom: 20px;
}
nav ul { 
   list-style: none;
   margin: 0 auto;
   text-align: center;
}
nav li {
   border: solid thin rgba(0,0,0,.33);
   margin-bottom: 2px;
   background-color: #1469e2;
}

nav li a {
   padding: 10px 0 10px 0;
   display: block;
   text-decoration: none;
   color: white;
}

nav li a:hover {
   font-weight: bold;
   color: #fff800;
}
nav ul {
   margin: 0;
   padding: 0;
 }
 #alert {
   display: none;
   background-color: #fff800;
   color: black;
   text-align: center;
   padding: 5px;
   font-weight: bold;
}
#alert.show {
   display:block;
}
#article-content {
   grid-column: 1 / 3;
}
#article-image {
   grid-column: 1 / 3;
   width: 100%;
   margin-top: 15px;
}
#byui_link {
   color:white;
}
#colors {
   width: 100%;
}
#contact-info {
   grid-column: 1 / 3;
   grid-row: 1;
   padding: 25px;
}
#forecast {
   display: none;
}
#hero {
   width: 95%;
   margin: auto;
   position: relative;
}
#hero img {
   width: 100%;
}
#logo {
   width: 100px;
   grid-column: 1;
   grid-row: 1/5;
}
#map {
   grid-column: 1 / 3;
   grid-row: 2;
   width: 90%;
   padding: 25px;
}
#map-info {
   display: grid;
   grid-template-columns: 1fr 1fr;
}
#menu_button {
   background-color: transparent;
   border: none;
   outline: none;
   font-size: 1.4rem;
}

#motto {
   margin-top: 5px;
   grid-column: 2;
   grid-row: 2;
   text-align: center;
   color: rgb(70, 70, 70);
}

#title {
   margin-top: 15px;
   grid-column: 2;
   grid-row: 1;
   text-align: center;
   color:rgb(70, 70, 70);;
}
#today {
   display: block;
   margin-top:8px;
}

#updated {
   color: #fff800;
}
#weather-summary {
   position: absolute;
   top: 30px;
   left: 30px;
   width: 50%;
   font-size: .75em;
   background-color: white;
   padding: 10px;
}
.active {
   background-color: #fff800;
   color: black;
   font-weight: bold;
}
.active:hover {
   color: black;
}
.nav_hidden {
   display: none;
}

.page_title {
   text-align: center;
}

.placeholder {
   margin: 5px 10px 5px 10px;
   border: solid thin #C0C0C0;
   padding: 10px;
}
