@media only screen and (min-width: 750px) { 
   h1 {
      font-size: 1.75em;
   }
   h2, #motto {
      font-size: 1.25em;
   }
   header {
      grid-template-columns: 1fr 200px 300px 200px 1fr;
      grid-template-rows: 40px 40px 40px 60px;  
   }
   nav {
      grid-column: 1 / 6;
   }
   nav ul {
      display: flex;
   }
   nav li {
      flex: 1 1 100%;
      border: none;
      margin: 0px;
   }
   nav li a:hover {
      transform: scale(1.1);
   }
   #article-content {
      grid-column: 1;
   }
   #article-image {
      grid-column: 2;
      padding: 15px;
   }
   #content {
      max-width: 900px;
      margin: auto;
   }
   #contact-info {
      grid-column: 2;
      grid-row: 1
   }
   #forecast {
      display: grid;
      gap: 5px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   }
   #forecast h3 {
      grid-column: 1 /6;
   }
   #site_story {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
   .forecast {
      border: solid thin black;
   }
   .forecast div {
      text-align: center;
   }
   #gallery-images {
      grid-template-columns: 1fr 1fr;
    }
   #logo {
      grid-column: 2;
      width:200px;
   }
   #map {
      grid-column: 1;
      grid-row: 1;
   }
   #menu_button {
      display: none;
   }
   #motto {
      grid-column: 3;
   }
   
   #title {
      grid-column: 3;
      font-size: 2em;
   }
   #weather-summary {
      width: 30%;
      font-size: 1em;
      background-color: white;
      padding: 10px;
   }

   .forecast {
      margin:3px;
      border: solid thick black;
      padding: 3px;
      background-color:white;
   }

   .nav_hidden {
      display: flex;
   }
   .weather_icon {
      width:90%;
      max-width: 80px;
   }
   .weather_icon_div {
      text-align: center;
   }

   /* Storm Center */

   #stormcenter input {
      height:30px;
    } 
   /*********************
   Home Page
   *********************/

   #cities section {
      grid-template-columns: 1fr 1fr;
   }

   #sp_text {
      grid-column: 2;
      grid-row:2;
   }
   #sp_image {
      grid-column: 1;
      grid-row:2;
   }
}
