@media only screen and (min-width: 480px) { 
   body {
      padding: 0 10px 0 10px;
   }
   h1, #title {
      font-size: 1.75em;
   }
   h2, #motto {
      font-size: 1.25em;
   }
   header {
      grid-template-columns: 200px 1fr;
      grid-template-rows: 40px 40px 40px 40px;  
   }
   nav ul {
      display: flex;
   }
   nav li {
      flex: 1 1 100%;
      margin: 0px;
   }
   #content {
      max-width: 900px;
      margin: auto;
   }
   .logo {
      width:200px;
   }
}